<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/delete}" th:object="${product}" method="post">
    <input type="hidden" th:field="*{id}">
    <div>
        <label>Name</label>
        <input type="text" th:field="*{name}">
    </div>
    <div>
        <label>Cost</label>
        <input type="text" th:field="*{cost}">
    </div>
    <div>
        <label>Producer</label>
        <div>
            <label>Producer</label>
            <input type="radio" th:field="*{producer}" value="Samsung">Samsung
            <input type="radio" th:field="*{producer}" value="Xiaomi">Xiaomi
            <input type="radio" th:field="*{producer}" value="Samsung">Apple
        </div>
    </div>
    <input type="submit" value="Delete">
</form>
</body>
</html>