<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        td{
            padding-left: 10px;
            padding-right: 10px;
        }
    </style>
</head>
<body>
<div>
    <a th:href="@{/create}">Creat new product</a>
</div>

<table border="1">
    <tr>
         <th>ID</th>
         <th>Name</th>
         <th>Cost</th>
         <th>Producer</th>
         <th>Edit</th>
         <th>Delete</th>
    </tr>
        <tr th:each="product : ${products}">
            <td th:text="${product.getId()}"></td>
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getCost()}"></td>
            <td th:text="${product.getProducer()}"></td>
            <td><a th:href="@{/{id}/edit(id=${product.getId()})}">Edit</a></td>
            <td><a th:href="@{/{id}/delete(id=${product.getId()})}">Delete</a></td>
        </tr>
</table>
<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>
</body>
</html>