<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        td{
            padding-left: 10px;
            padding-right: 10px;
        }
    </style>
</head>
<body>
<table border="1">
    <tr>
         <th>ID</th>
         <th>Tên Sản Phẩm</th>
         <th>Giá</th>
         <th>Nhà sản xuất</th>
    </tr>
<!--    <tbody>-->
        <tr th:each="product : ${products}">
            <td th:text="${product.getId()}"></td>
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getCost()}"></td>

            <td>
                <span th:each="type:${product.getTypeProduct()}" th:text="${type} + ' '"></span>
            </td>
        </tr>
<!--    </tbody>-->
</table>
</body>
</html>