<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table>
    <th>
         <tr>ID</tr>
         <tr>Tên Sản Phẩm</tr>
         <tr>Giá</tr>
         <tr>Nhà sản xuất</tr>
    </th>
    <td>
        <tr th:each="product:${products}">
            <td th:text="${product.getId()}"></td>
            <td th:text="${product.getName()}"></td>
            <td th:text="${product.getCost()}"></td>

            <td>
                <span th:each="type:${product.getTypeProduct()}" th:text="${type} + ' '"></span>
            </td>
        </tr>
    </td>
</table>
</body>
</html>