*{
    box-sizing: inherit;

}

html {
    font-size: 62.7%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #f0f2f5;
    scroll-behavior: smooth;
}